<!DOCTYPE html>
<html lang="en">
    <div class="container-with-background">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>414 - Request-URI Too Long</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="error-page">
    <h1>414 - Request-URI Too Long</h1>
    <p>The requested URL is too long for the server to process.</p>
    <a href="/string">Go Back to String page</a>
</body>
</div>
</html>
