{% extends 'layout.html' %}

{% block title %}Brass Instruments{% endblock %}

{% block content %}

<!-- Flash messages -->
<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages-list">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<h1>Brass Instruments</h1>

<!-- Search form -->
<form method="GET" action="{{ url_for('brass') }}" class="instrument-search-form">
  <input type="text" name="search" placeholder="Search for a brass instrument" required maxlength="50">
  <button type="submit">Search</button>
</form>

<!-- List of instruments if there are any i.e. from the search -->
{% if results %}
<div class="instrument-list">
  {% for instrument in results %}
      <div class="instrument-button">
          <a href="{{ url_for('instrument_details', instrument_id=instrument[0]) }}">
              <img src="{{ instrument[2] }}" alt="{{ instrument[1] }} Image">
              <span>{{ instrument[1] }}</span>
          </a>
      </div>
  {% endfor %}
</div>

{% else %}
<p>No instruments found.</p>
{% endif %}

<!-- Back button if searched -->
{% if request.args.get('search') %}
<p><a href="{{ url_for('brass') }}">Return to Brass Page</a></p>
{% endif %}
{% endblock %}
