{% extends 'layout.html' %}

{% block title %}Instruments{% endblock %}

{% block content %}
  <!-- Flash messages -->
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages-list">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </div>

  <div id="content">
    {% if instrument %}
      <!-- Instrument information -->
      <h1>Details for the {{ instrument[1] }}</h1> 
      <div class="flex-container">
        <img src="{{ instrument[3] }}" alt="Image of {{ instrument[1] }}" class="instrument-image">
        <p>{{ instrument[2] }}</p>
      </div>
    
 
      <!-- Comments - if there are comments -->
      <h2>Comments</h2>
      {% if comments %}
      <ul>
        {% for comment in comments %}
          <li>
            <strong>{{ comment[2] }}</strong>: {{ comment[1] }}
            {% if session.get('user_id') == comment[3] %}
            <form action="{{ url_for('delete_comment', comment_id=comment[0], instrument_id=instrument[0]) }}" method="post" style="display:inline;">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <!-- Comments - if there aren't comments -->
      {% else %}
        <p>No comments yet. Be the first!</p>
      {% endif %}

      <!-- Comments - if the user is logged in -->
      {% if session.get('user_id') %}
        <a href="{{ url_for('add_comment', instrument_id=instrument[0]) }}" class="btn btn-primary">Add Comment</a>
      
      <!-- Comments - if the user isn't logged in -->
      {% else %}
        <p><a href="{{ url_for('login') }}">Log in</a> to add a comment.</p>
      {% endif %}

      <!-- Back button -->
      <p><a href="{{ url_for(instrument[5]) }}">Back to {{ instrument[5] }} page</a></p>

    {% else %}
      <p>Instrument not found.</p>
    {% endif %}
  </div>
{% endblock %}
