{% extends 'layout.html' %}

{% block title %}String Instruments{% endblock %}

{% block content %}
<h1>String Instruments</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}"> <!-- alert is a base CSS class typically used for styling alerts, with bootstrap styling -->
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Search Form -->
<form method="GET" action="{{ url_for('string') }}" class="instrument-search-form">
  <input type="text" name="search" placeholder="Search for a string instrument">
  <button type="submit">Search</button>
</form>


<!-- Display Results -->
{% if results %}
<ul class="instrument-list">
  {% for instrument in results %}
    <li class="instrument">
      <a href="{{ url_for('instrument_details', instrument_id=instrument[0]) }}">{{ instrument[1] }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>No instruments found.</p>
{% endif %}

<!-- Return Link -->
{% if request.args.get('search') %}
<p><a href="{{ url_for('string') }}">Return to String Page</a></p>
{% endif %}

{% endblock %}
